version: "3"
virtualmachines:
- name: rhel
  image: projects/tmm-instruqt-11-26-2021/global/images/rhel-9-5-11-27-24
  shell: /bin/bash
  environment:
    TERM: xterm
  machine_type: n1-standard-1
- name: node05
  image: projects/tmm-instruqt-11-26-2021/global/images/rhel-9-5-11-27-24
  shell: /bin/bash
  environment:
    TERM: xterm
  machine_type: n1-standard-1
secrets:
- name: ACTIVATION_KEY
