version: "3"
virtualmachines:
- name: host1
  image: projects/tmm-instruqt-11-26-2021/global/images/virt-rhel-8-6-06-02-22-1
  shell: /bin/bash
  environment:
    TERM: xterm
  machine_type: n1-standard-2
  allow_external_ingress:
  - http
  - https
  - high-ports
