version: "3"
virtualmachines:
- name: rhel
  image: projects/tmm-instruqt-11-26-2021/global/images/virt-rhel-9-4-06-04-24
  shell: /bin/bash
  environment:
    TERM: xterm
  machine_type: n2-standard-2
  allow_external_ingress:
  - http
  - https
  - high-ports
  nested_virtualization: true
secrets:
- name: REG_SVC_ACCT
- name: ACTIVATION_KEY
