version: "3"
virtualmachines:
- name: rhel
  image: projects/tmm-instruqt-11-26-2021/global/images/rhel-9-5-11-27-24
  shell: /bin/bash
  environment:
    cla_version: command-line-assistant*.develop*.el9.noarch
  machine_type: n2-standard-4
  allow_external_ingress:
  - https
  provision_ssl_certificate: true
secrets:
- name: ACTIVATION_KEY
- name: WATSONX_API_KEY
